body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-color: #b8b8b8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
#game-container {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  border: 10px solid #6d6d6d;
  background: #fff;
  overflow: hidden;
  border-radius: 30px;
  background-image:url("img/dungeon.avif");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.personaje {
  position: absolute;
  width: 300px;
  height: 300px;
  background-size: auto;
  background-repeat: no-repeat;
  overflow: hidden;
  background: transparent;
}

.moneda {
  position: absolute;
  width: 64px;
  height: 64px;
  pointer-events: none;
}

#puntos {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}